* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(22, 152, 109);
  text-align: center;
}
.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}
.box {
  height: 18vmin;
  width: 18vmin;
  background-color: aliceblue;
  border-radius: 1rem;
  color: rgb(226, 43, 46);
  border: none;
  box-shadow: 0 0 10px black;
  font-size: 10.5vmin;
  background-color: #ffffc7;
}
#resetBtn {
  padding: 2vmin;
  background-color: black;
  color: white;
  border-radius: 1vmin;
  border: none;
}
#newBtn {
  padding: 2vmin;
  background-color: black;
  color: white;
  border-radius: 1vmin;
  border: none;
}
#msg {
  color: #ffffc7;
  font-size: 8vmin;
}
.msgContainer {
  height: 100vmin;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.hide {
  display: none;
}
